.loader {
	@apply relative w-[10px] h-[10px] bg-slate-600 text-slate-600;
	border-radius: 5px;
	animation: dot-flashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}
.loader::before,
.loader::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}
.loader::before {
	@apply w-[10px] h-[10px] bg-slate-600 text-slate-600;
	border-radius: 5px;
	left: -15px;
	animation: dot-flashing 1s infinite alternate;
	animation-delay: 0s;
}
.loader::after {
	@apply w-[10px] h-[10px] bg-slate-600 text-slate-600;
	left: 15px;
	border-radius: 5px;
	animation: dot-flashing 1s infinite alternate;
	animation-delay: 1s;
}

@keyframes dot-flashing {
	0% {
		@apply bg-slate-600;
	}
	50%,
	100% {
		@apply bg-slate-400;
	}
}
